[flake8]
max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

enable-extensions =
    FCFN,

fcfn_exclude_functions =
    LOGGER,
    os,
    fd,
    logging,
    subprocess,
